<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
<title>Transfer failure</title>
</head>
<body>
	
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div align="left">
		<a th:href="@{/GetBankAccount(bankAccountId=${idSrcAcc})}">Account status page</a>
	</div>

	<h1> Transfer failure </h1>
	<p class="warning-message" th:text="${'Error: ' + errorMsg}"></p>
	
</body>
</html>